header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 4rem;
    -webkit-box-pack: justify;
       -ms-flex-pack: justify;
        justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgb(110, 2, 149);
    color: white;
}

header a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.header-brand {
    margin: 0 15px;
}

.navbar__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    list-style: none;
}

.navbar__item {
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.btn {
    padding: 0.5rem;
}

.btn:hover {
    background-color: rgb(74, 0, 101);
}
