footer {
    background-color: rgb(110, 2, 149);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 4rem;
}

footer p a {
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem;
}

.source:hover{
    background-color: rgb(47, 2, 64);
}
