.card {
    color: white;
    background-color: rgb(110, 2, 149);
    width: 60%;
    margin: 1rem auto;
    border-radius: 10px;
    padding: 1.5rem;
    max-width: 785px;
}

h3, h4{
    font-weight: 500;
    display: inline-block;
}

ul {
    list-style-position: inside;
}

@media screen and (max-width: 1200px) {
    .card {
        width: 80%;
    }
}

@media screen and (max-width: 850px) {
    .card {
        width: 100%;
    }
}
