<section class="card">
    <h1>What is this?</h1>
    <h3>This is Expense-Tracker app, User can add expenses with details and can keep track of.</h3>
    <ul>
        <h1>Features</h1>
        <li>
            <h3>This app shorts expenses according to year</h3>
        </li>
        <li>
            <h3>This expense shows rough comparison of expenses using graphs</h3>
        </li>
        <li>
            <h3>App will save expenses in local stroage and it will also retrieve expenses after reload.</h3></li>
        <li>
            <h3>User Can Modify or delete expenses</h3>
        </li>
    </ul>
    <br>
    <hr>
    <br>
    <h1>How Graphs are rendered?</h1>
    <br>
    <h3> -> Graphs won't give user the exact amount but it is pretty rough comparison.</h3>
    <h3> -> Graphs are rough comparisons of expenses for every month for single year.</h3>
    <h3> -> Graph will be made by taking highest expense amount as a base for all month's expense amount.</h3>
    <h3> -> This is still useful as user don't have too look into every entry if what user wants to know is which month has highest expense and how expneses are spent on monthly basis.</h3>
</section>
