* {
    margin: 0;
    padding: 0;
}

.card {
    background-color: hwb(282 48% 25%);
    width: 60%;
    margin: 1rem auto;
    border-radius: 10px;
    padding: 1.5rem;
    text-align: center;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; 
}
