.info-card {
    background-color: #770877;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    color: white;
    border-radius: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem;
    margin: 1rem;
    -webkit-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
    -o-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(32, 1, 34, 0.8);
            box-shadow: 2px 2px 2px 2px rgba(32, 1, 34, 0.8);
}

.info-card:hover {
    -webkit-transform: scale(1.04);
        -ms-transform: scale(1.04);
            transform: scale(1.04);

    cursor: pointer;
}

.info-card__date {
    background-color: hsl(300, 79%, 15%);
    border: 2px solid hsl(300, 100%, 3%);
    padding: 0.2rem 0.8rem;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 4.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.info-card__date-year {
    font-size: small;
}

.info-card__date-month,
.info-card__name,
.info-card__amount {
    font-size: 1.3rem;
}

.menu {
    background-color: white;
    display: inline-block;
    width: 8rem;
    border-radius: 0.5rem;
    position: absolute;
    z-index: 2;
    bottom: 2rem;
    left: 14rem;
    overflow: hidden;
    transition: transform ease-in 67ms;
    transform: scale(0);
    box-shadow: 2px 2px 2px 2px rgba(32, 1, 34, 0.8);
}

.btn {
    background-color: white;
    color: hsl(300, 80%, 32%);
    padding: 0.5rem;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
    border: none;
}

.btn:hover{
    background-color: #a11ba1;
    color: white;
}
