.form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #5b085b;
    margin-bottom: 1rem;
}

.form-select{
    font: inherit;
    color: inherit;
    border-radius: 5px;
    padding: 2px;
}

h3 {
    color: #5b085b;
}
