* {
    margin: 0;
    padding: 0;
}

.card {
    background-color: hwb(282 48% 25%);
    width: 60%;
    margin: 1rem auto;
    border-radius: 10px;
    max-width: 900px;
    padding: 1.5rem;
    text-align: center;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; 
}

@media screen and (max-width: 1200px) {
    .card {
        width: 80%;
    }
}

@media screen and (max-width: 850px) {
    .card {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .card {
        display: none;
    }
}
